
out/
out/**/
build/
.build/
.vs/
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
Makefile
build.ninja
.ninja_deps
.ninja_log

Testing/

*.obj
*.o
*.so
*.a
*.exe
*.dll

*.pdb

*.vcxproj
*.vcxproj.*
*.sln
*.opensdf
*.sdf
*.ipch
*.db
*.idb
*.log
*.user


*.tmp
*.cache
*.bak

.DS_Store
Thumbs.db

.vscode/
.idea/